<h1> NEW WORKOUT </h1>
<br>
<%= simple_form_for @workout do |f| %>
  <table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Mood</th>
      <th>Food</th>
      <th>Weather</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= f.input :date, label: false, input_html: { class: 'form-control' } %></td>
      <td><%= f.input :mood, label: false, placeholder: "You ok?", input_html: { class: 'form-control' } %></td>
      <td><%= f.input :food, label: false, placeholder: "Pizza again?", input_html: { class: 'form-control' } %></td>
      <td><%= f.input :weather, label: false, placeholder: "Sunny enough?", input_html: { class: 'form-control' } %></td>
    </tr>
   </tbody>
   </table>
  <%= render 'buttons' %>
  
    <section>
    <wod id = "weightlifting"><%= f.input :weightlifting, label: "Weightlifting", 
    input_html: { class: 'form-control'} %></wod>
    <wod id = "strength"><%= f.input :strength, label: "Strength", 
    input_html: { class: 'form-control'} %></wod>
    <wod id = "gymnastics"><%= f.input :gymnastics, label: "Gymanstics", 
    input_html: { class: 'form-control'} %></wod>
    <wod id = "wod"><%= f.input :wod, label: "WOD", 
    input_html: { class: 'form-control'} %></wod>
    <wod id = "mobility"><%= f.input :mobility, label: "Mobility", 
    input_html: { class: 'form-control'} %></wod>
    <wod id = "other"><%= f.input :other, label: "Other", 
    input_html: { class: 'form-control'} %></wod>
    </section>
  
  <div class = "form-buttons">
    <%= f.button :submit, class:"btn btn-default pull-left"%>
    <%= link_to "Cancel", root_path, class:"btn btn-default pull-right" %>
  </div>
  
<% end %>

