<%= simple_form_for @workout do |f| %>
  <%= f.input :date, input_html: { class: 'form-control' } %>
  <%= f.input :mood, label: "How were you feeling?", input_html: { class: 'form-control' } %>
  <%= f.input :food, label: "How were you eating that day? (Pizza again?)", input_html: { class: 'form-control' } %>
  <%= f.input :weather, label: "What was the weather like?", input_html: { class: 'form-control' } %>
  
  
  <%= render 'buttons' %>
  
  
  
    <section>
    <wod id = "weightlifting"><%= f.input :weightlifting, label: "Weightlifting", 
    input_html: { class: 'form-control'} %></wod>
    <wod id = "strength"><%= f.input :strength, label: "Strength", 
    input_html: { class: 'form-control'} %></wod>
    <wod id = "gymnastics"><%= f.input :gymnastics, label: "Gymanstics", 
    input_html: { class: 'form-control'} %></wod>
    <wod id = "wod"><%= f.input :wod, label: "WOD", 
    input_html: { class: 'form-control'} %></wod>
    <wod id = "mobility"><%= f.input :mobility, label: "Mobility", 
    input_html: { class: 'form-control'} %></wod>
    <wod id = "other"><%= f.input :other, label: "Other", 
    input_html: { class: 'form-control'} %></wod>
  </section>
  
  <div class = "form-buttons">
    <%= f.button :submit, class:"btn btn-default pull-left"%>
    <%= link_to "Cancel", root_path, class:"btn btn-default pull-right" %>
  </div>
  
<% end %>

