<h2><%= @workout.date.strftime('%A %d.%m.%y') %></h2>
  <br>
  <table class="table wod-table">
  <thead>
    <tr>
      <th>Mood</th>
      <th>Food</th>
      <th>Weather</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @workout.mood.blank? ? "No info" : @workout.mood %></td>
      <td><%= @workout.food.blank? ? "No info" : @workout.food %></td>
      <td><%= @workout.weather.blank? ? "No info" : @workout.weather %></td>
    </tr>
   </tbody>
   </table>
   
   <%= render 'workouts' %>
   
<div>
  <%= link_to "Back", root_path, class:"btn btn-default" %>
  <%= link_to "Edit", edit_workout_path, class:"btn btn-default" %>
  <%= link_to "Delete", workout_path, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-default" %>
</div>
  