<h2><%= @workout.date.strftime('%A %d.%m.%y') %></h2>
  
<div>
<div class="panel panel-default">
  <div class="panel-heading">Mood</div>
  <div class="panel-body">
    <%= @workout.mood.blank? ? "No info" : @workout.mood %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Food</div>
  <div class="panel-body">
    <%= @workout.food.blank? ? "No info" : @workout.mood %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Weather</div>
  <div class="panel-body">
    <%= @workout.weather.blank? ? "No info" : @workout.mood %>
  </div>
</div>
</span> 

    <div class="panel-body">
      <%= simple_format("Weightlifting:\n#{@workout.weightlifting}") unless @workout.weightlifting.blank? %>
      <%= simple_format("Strength:\n#{@workout.strength}") unless @workout.strength.blank? %>
      <%= simple_format("Gymanstics:\n#{@workout.gymnastics}") unless @workout.gymnastics.blank? %>
      <%= simple_format("WOD: \n#{@workout.wod}") unless @workout.wod.blank? %>
      <%= simple_format("Mobility:\n#{@workout.mobility}") unless @workout.mobility.blank? %>
      <%= simple_format("Other:\n#{@workout.other}") unless @workout.other.blank? %>
    </div>
  </div>
  

  
  <%= link_to "Back", root_path, class:"btn btn-default" %>
  <%= link_to "Edit", edit_workout_path, class:"btn btn-default" %>
  <%= link_to "Delete", workout_path, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-default" %>
</div>
  